* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
     background-color: #E1DEDE;
     font-family: 'Quando', serif;
     }

    
  /* START HEADER */
 header {
     padding: 20px 35px;
     font-family: 'Playfair Display', serif;
     background-color: D6B8B8;
    }

 header h1 {
     margin: 0;
     display: inline;
     font-family: 'Playfair Display', serif;
     font-size: 48px;
     font-weight: normal;
     background-color: #D6B8B8;
    }

 header a {
     text-decoration: none;
     color: black;
    }

 header nav {
     float: right;
     margin: 7px 0;
    }

 header nav ul li {
     display: inline;
 }
 
 header nav ul li a {
     margin: 0 70px;
     font-weight: lighter;
     font-size: 30px;
 }

 /* END HEADER */